

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title> {{site.name}} </title>
<meta name="author" content="{{site.author}}">
<meta name="description" content="{{site.description}}">

<!--CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
<!--SSL Script: Stays in Header-->
<script type="text/javascript">
  var host = "www..com";
  if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
</script>
